# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.Python
env/
venv/
*.sqlite3

# Django
*.log
.static_storage/
.media/
local_settings.py
**/static/

# Docker
.dockerenv*
*.env
Dockerfile.dev

# Bash
.bash_history

# Shell scripts
*.sh

# Tmp files
*.tmp
