# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.tmp
*.log
*.sqlite3
.Python
env/
venv/
.venv/
.pyvenv.cfg

# Django build output
staticfiles/
media/
.local_settings.py

# Environment / secrets
.env
.env.*
!.env.example

# Docker
.dockerenv*
Dockerfile.dev

# IDE / tools
.vscode/
.idea/
.DS_Store

# Bash
.bash_history