{% extends "techronomiblog/base.html" %}

{% block title %}About - Techronomicon{% endblock %}

{% block content %}
<style>
    .about-section {
        max-width: 60%;
        margin: 20px auto;
        padding: 20px;
        text-align: left;
    }

    .about-section h2 {
        margin-bottom: 20px;
    }

    .about-section p {
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .about-section a, a:visited, a:link, a:active {
        color: #000; /* Ensures links are black */
        text-decoration: none; /* No underline to keep it minimal */
	font-weight: bold;
    }

    .about-section a:hover, nav a:hover {
        color: #555; /* Darken the link color on hover for better visibility */
        text-shadow: 1px 1px 0px #000; /* Applies text shadow on hover for all links */
        text-decoration: underline; /* Optionally, add underline on hover */
    }

    h1 {
        margin-bottom: 10px; /* Adjusted margin-bottom for the 'About' heading */
    }
</style>
<h1>About</h1>
<div class="about-section">
    <p>
        Hey! I'm a tech enthusiast with a penchant for simplifying the complex. While my professional life is dedicated to enhancing systems through thoughtful problem solving, this blog is where I share musings, insights, and tidbits from my perception of this space.
    </p>
    <p>
        You won't find just dry technical content here; it's all about the intersection of technology with our daily lives. From automation that saves precious time to the latest in open source, I delve into topics that matter to both tech heads and the tech-curious alike.
    </p>
    <p>
        When not immersed in the digital realms, I indulge in the beauty of music, the joy of board games with friends, and the thrill of travelling the world. These pursuits not only provide a balance but often inspire fresh perspectives for the digital world.
    </p>
    <p>
        This blog is a conduit for sharing knowledge, exchanging ideas, and sparking conversations. If something piques your interest, feel free to reach out. I'm always up for a good discussion or a collaborative project.
    </p>
    <p>
      Dive into my <a href="https://github.com/lukejcollins" target="_blank" rel="noopener noreferrer">Github</a> to see what I've been tinkering with or get in touch through <a href="mailto:luke@lukecollins.dev">email</a>. If you're intrigued by the mechanics behind this blog, the open-sourced application can be found <a href="https://github.com/lukejcollins/techronomicon" target="_blank" rel="noopener noreferrer">here</a>, and the infrastructure that powers it is detailed <a href="https://github.com/lukejcollins/techronomicon-infra" target="_blank" rel="noopener noreferrer">here</a>.
    </p>
</div>
{% endblock %}
