{% extends "techronomiblog/base.html" %}

{% block title %}About - Techronomicon{% endblock %}

{% block content %}
    <h1 class="about-title">About</h1>
    {{ about_page.content }}
    <style>
      .libutton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        outline: none;
        text-decoration: none !important;
        color: #ffffff !important;
        width: 200px;
        height: 32px;
        border-radius: 16px;
        background-color: #000000;
        font-family: "SF Pro Text", Helvetica, sans-serif;
      }
    </style>
    <a class="libutton" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=luke-j-collins" target="_blank">Follow on LinkedIn</a>
{% endblock %}
